#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
#page-content {
  flex-grow: 2;
  max-height: 100%;
}

html {
  height: 100vh;
  /* overflow: scroll; */
}

body {
  background-image: url("../src/assets/hotAirBalloon.jpg"); 
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #BFCDD9;
  background-size: cover;
    /* attachment is what let you wrap it to the screen properly */
  background-attachment: fixed;
  overflow: hidden;
  color: #f6f4e6;
 }

 .MainBody {
  background-color: #f2c2a7;
  border-radius: 2%;
  color: white;
  /* border-style: solid;
  border-color: white;
  border-width: 3px; */
  flex-wrap: wrap;
  padding-top: 5px;
  margin-top: 30px;
 }

 button {
  background-color: #037682;
  color: #f2c2a7;
  border-radius: 4%;
 }


/* 
Colors from book palette:
#DDA49D - taupey pink
#93C4C9 - light light blue
#F37A65 - coral ish
#D9043D - candy red
#037F8C - dark Teal
#03A6A6 - bright teal
#078C03 - bright green
#F25E3D - carrot red
#D90452 - hot pink
#C1D6D9 - light light blue (like a blue grey white almost)
#D98B48 - muted orange
#73022C - like a jammy red
#A3BFBF - almost robins egg blue
#014029 - dark green
*/

/* 
Colors from sunsetplane palette:
#BFCDD9 - pale blue grey
#A7C1D9 - light blue
#023859 - deep blue
#011826 - very dark blue
#023859 - navy
#F2F2F0 - white tan grey ?
#F2C3A7 - light light peach
#F2A477 - apricot
#556773 - a darker stone grey 
#F2C49B - light orange tan
#F29863 - orange

*/