#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
#page-content {
  flex-grow: 2;
  max-height: 100%;
}

html {
  height: 100vh;
  /* overflow: scroll; */
}

body {
  background-image: url("../src/assets/sunsetplane.jpg"); 
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #BFCDD9;
  background-size: cover;
    /* attachment is what let you wrap it to the screen properly */
  background-attachment: fixed;
  overflow: hidden;
  color: #f6f4e6;
 }

 .MainBody {
  background-color: #F2C3A7;
  border-radius: 2%;
  color: white;
  /* border-style: solid;
  border-color: white;
  border-width: 3px; */
  flex-wrap: wrap;
  padding-top: 5px;
  margin-top: 30px;
 }

 button {
  background-color: #023859;
  color: #F2A477;
  border-radius: 4%;
 }


/* 
Colors from book palette:
#BFCDD9 - pale blue grey
#A7C1D9 - light blue
#023859 - deep blue
#011826 - very dark blue
#023859 - navy
#F2F2F0 - white tan grey ?
#F2C3A7 - light light peach
#F2A477 - apricot
#556773 - a darker stone grey 
#F2C49B - light orange tan
#F29863 - orange

*/